#heading {
    font-size: 50px;
    text-align: center;
    padding: 1em 0 1em 0;
}


/*
Display Messages
*/

#msgLogger {
    margin: 0 auto;
    height: 500px;
    width: 60%;
    overflow: auto;
    word-wrap: break-word;
}

#messages {
    padding-top: 0.3em;
    padding-left: 0.5em;
    list-style-type: none;
    font-size: 40px;
    
}

/*
Send messages section
*/

#sendMessages {
    margin: 0 auto;
    width: 60%;
    display: flex;
    align-items: center;
}

#sendMessages>input {
    width: 80%;
    height: 50px;
    font-size: 25px;
}

#sendMessages>button {
    width: 20%;
    height: 50px;
    font-size: 30px;
}

/*
People online
*/

#connected {
    margin: 1em auto;
    width: 60%;
    padding-left: 10px
}

/*
Change Theme
*/

#holder {
    margin: 2em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


#themeContainer {
    width: 60%;
    margin: 2em auto;
}

#themeContainer>h1 {
    text-align: center;
    border-bottom: 2px solid red;
}

/* IDs used for the choose theme templates || Classes are used for the messageLogger when changing themes*/

#black, #white, #red, #yellow, #green, #pink {
    margin-bottom: 2em;
    width: 30%;
    border: 4px solid gray;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s, opacity 0.5s;
}

.black {
    background-color: black;
    color: white;
}

.white {
    border: 3px solid black;
    background-color: white;
    color: black;
}

.red {
    background-color: red;
    color: white
}

.yellow {
    background-color: yellow;
    color: black;
}

.green {
    background-color: green;
    color: white;
}

.pink {
    background-color: rgb(255, 162, 178);
    color: black;
}

#black:hover, #white:hover, #red:hover, #yellow:hover, #pink:hover, #green:hover {
    transform: scale(1.1);
    opacity: 0.6;
    cursor: pointer;
}



/* Responsive Design */


@media (min-width: 2000px) {
    #heading {
        font-size: 60px;
    }

    #msgLogger {
        height: 700px;
    }


    #sendMessages>input {
        height: 70px;
        font-size: 30px;
    }
    
    #sendMessages>button {
        height: 70px;
        font-size: 35px;
    }

    #connected {
        font-size: 35px;
    }

    #messages {
        font-size: 50px;
    }

    #themeContainer {
        font-size: 2rem;
    }

    #black, #white, #red, #yellow, #green, #pink {
        height: 160px;
    }
}



@media (min-width: 3000px) {
    #heading {
        font-size: 80px;
    }

    #msgLogger {
        height: 1000px;
    }


    #sendMessages>input {
        height: 90px;
        font-size: 35px;
    }
    
    #sendMessages>button {
        height: 90px;
        font-size: 40px;
    }

    #connected {
        font-size: 45px;
    }

    #messages {
        font-size: 60px;
    }

    #themeContainer {
        font-size: 3rem;
    }

    #black, #white, #red, #yellow, #green, #pink {
        height: 130px;
    }
}



@media (max-width: 1000px) {
    #heading {
        font-size: 45px;
    }

    #msgLogger {
        height: 400px;
    }

    #messages {
        font-size: 35px;
    }

    #connected {
        font-size: 0.8em;
    }
}

@media (max-width: 750px) {
    #connected, #sendMessages, #msgLogger {
        width: 80%;
    }

    #black, #white, #red, #yellow, #green, #pink { 

        width: 40%;
    }
}

@media (max-width: 500px) {
    #heading {
        font-size: 30px;
    }

    #sendMessages>input {
        width: 70%;
    }

    #sendMessages>button {
        width: 30%;
        font-size: 25px;
    }

    #connected {
        padding-top: 15px;
        font-size: 11px;
    }

    #messages {
        font-size: 25px;
    }

    #black, #white, #red, #yellow, #green, #pink {
        width: 80%;
     }

     #holder {
         height: 300px;
         overflow: scroll;
     }
  
}